/* Root Variables for Easy Theme Customization */
@import url('https://fonts.cdnfonts.com/css/ethnocentric');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --primary-font:"Open Sans", serif ;
  --secondery-font:'Ethnocentric Rg', sans-serif ;
  --logo-font: "Pacifico", serif ;
  --primary-color:rgb(32, 226, 226) ;
  --secondery-color:rgb(46, 147, 149);
  --bg3-color:#b1b1b1;
  --text-color: #b1b1b1;
  --bg-dark: #000;
  --white: #fff;
  --shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.btn{
  color: var(--white);
  background-color: var(--bg-dark);
  padding: 1rem 2rem;
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.3s;
  border: 2px solid var(--white);
  border-radius: 8px;
  font-size: 1.3rem;
  transition: all 0.3s;
}
.btn:hover {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  transition: all 0.3s;

}
/* Navbar Styling */
.main-sec{
  width: 100%;
  background-color: var(--bg-dark);

}
.navbar {
  background-color: var(--bg-dark);
  box-shadow: var(--shadow);
  color: var(--text-color);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}



/* Navbar Logo */
.navbar__img {
  font-size: 2rem;
  font-weight: bold;
}

.kt {
  color: var(--primary-color);
}

.navbar__links {
  display: flex;
  list-style: none;
  gap: 4rem;
  border-width: 2px;
  border: 2px solid var(--bg3-color);
  padding: 5px 35px;
  border-radius: 25px;
  /* opacity: 0.7; */
}

.navbar__links a {
  font-size: 1.6rem;
  font-family: var(--primary-font);
  color: var(--white);
  text-decoration: none;
  transition: all 0.3s;
}

.navbar__links a:hover {
  color: var(--primary-color);
  opacity: 1;
}


.navbar__links a.active,
.mobile-navbar__links a.active {
  color: var(--primary-color);
  font-weight: bold;
}


/* Navbar Buttons */
.navbar__buttons {
  display: flex;
  align-items: center;
}

.navbar__buttons__contact {
  color: var(--white);
  padding: 1rem 2rem;
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.3s;
  border: 2px solid var(--white);
  border-radius: 8px;
  font-size: 1.3rem;
  transition: all 0.3s;

}

.navbar__buttons__contact:hover {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  transition: all 0.3s;

}

/* Mobile Menu */
.mobile-hamb {
  font-size: 2.5rem;
  display: none;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .navbar__links, .navbar__buttons {
    display: none;
  }
  .mobile-hamb {
    display: block;
  }
}

/* Mobile Navbar */
.mobile-navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: var(--bg-dark);
  z-index: 9999;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.mobile-navbar__close {
  color: var(--white);
  font-size: 3rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.mobile-navbar__links {
  list-style: none;
  font-size: 2rem;
  text-align: center;
}

.mobile-navbar__links li {
  margin: 1rem 0;
}

.mobile-navbar__links a {
  font-family: var(--primary-font);
  text-decoration: none;
  color: var(--white);
}

.mobile-navbar__links a:hover {
  color: var(--primary-color);
}

/* Show menu on open */
.open-nav {
  left: 0;
}
.kt{
  font-size: 2.6rem;
  color: var(--white);
  font-family: var(--logo-font);
  text-decoration: none;

}
.t{
  font-size: 2.6rem;
  color: var(--secondery-color);
  text-decoration: none;

}